@model Department
@{
	ViewBag.Title = "创建部门";
}

<form asp-controller="Department" asp-action="Create" asp-antiforgery="true" method="post">

	<div class="row justify-content-center">
		<div class="col-12 col-sm-9 col-md-6">

			<partial name="_EditPartial" />

			<hr />
			<div class="text-danger" asp-validation-summary="ModelOnly"></div>
			<button type="submit" class="btn btn-primary">创建部门</button>
			<button type="reset" class="btn btn-outline-secondary">清空填写</button>
		</div>
	</div>


</form>

